---
layout: page
title: "About"
description: "Hey, this is Andehou."
header-img: "img/post-bg-rwd.jpg"
---

<!-- Language Selector -->
<!-- <select class="sel-lang" onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英文 English </option>
</select> -->

<!-- Chinese Version -->
<div class="zh post-container">

    <!--copied from markdown -->
    <blockquote><p>冰冻三尺 非一日之寒<br>
    积土成山 非斯须之作</p></blockquote>

    <p>Hey，我是<strong>安德猴(Andehou)</strong>，一名学生，现在在成都上学。</p>

    <p>学习之余，我还是一个健身爱好者，同时也非常喜欢写作和折腾东西。</p>

    <p>这是我fork**柏荧(BY)**大大的代码搭建的个人博客，这是他的GitHub主页<a href="https://github.com/qiubaiying">👉GitHub·BY</a>。如果你也想搭建一个类似的博客，请参考他的repo~</p>

    <p>19年末忙着考研，之前博客的服务器崩了也没时间修，现在文档都找不回来了hhh。想了想还是决定在GitHub上搭建新的静态博客，毕竟省事儿，连接速度和稳定性也更有保障（诚信诚念GitHub大法好，微软大法好</p>
    
    <p>这个博客里20年以前的文章都不是我写的（fork自柏荧大大的代码所以把他的文章也拉过来了hhh），但是感觉写得很好所以舍不得删，也期待自己有朝一日能完全看懂吧~</p>
    
    <p>如果你有什么问题或建议，欢迎提出探讨~</p>


   
</div>

<!-- English Version -->
<!-- <div class="en post-container">
    <blockquote><p>Yet another Life-long Student.</p></blockquote>

    <p>Hi, I am <strong>安德猴</strong>，you can call me <strong>Andehou</strong>. I am a college student and currently living in Chengdu.</p>

    <p>I am a sports enthusiast, I like fitness and jogging.</p>

    <p>This is my personal blog, forked from BY's GitHub repo. His GitHub  👉 <a href="http://github.com/qiubaiying">Github·BY</a>. If you want to build a blog like this too, you can find this repo on his GitHub Pages.</p>

    <p>Last year I was too busy preparing for my post-graduate entrance examination, didn't even note my former blog server was broken lol. Finally I decided to build a new blog on GitHub. It's fast and free, why not?</p>

    <p>If you have any question or advice, please leave a message :)</p>

    

</div> -->

<!-- Handle Language Change -->
<script type="text/javascript">
    // get nodes
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    var $select = document.querySelector("select");

    // bind hashchange event
    window.addEventListener('hashchange', _render);

    // handle render
    function _render(){
        var _hash = window.location.hash;
        // en
        if(_hash == "#en"){
            $select.selectedIndex = 1;
            $en.style.display = "block";
            $zh.style.display = "none";
        // zh by default
        }else{
            // not trigger onChange, otherwise cause a loop call.
            $select.selectedIndex = 0;
            $zh.style.display = "block";
            $en.style.display = "none";
        }
    }

    // handle select change
    function onLanChange(index){
        if(index == 0){
            window.location.hash = "#zh"
        }else{
            window.location.hash = "#en"
        }
    }

    // init
    _render();
</script>


<!-- Gitalk 评论 start  -->
{% if site.gitalk.enable %}
<!-- Gitalk link  -->
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script>

<div id="gitalk-container"></div>
    <script type="text/javascript">
    var gitalk = new Gitalk({
    clientID: '{{site.gitalk.clientID}}',
    clientSecret: '{{site.gitalk.clientSecret}}',
    repo: '{{site.gitalk.repo}}',
    owner: '{{site.gitalk.owner}}',
    admin: ['{{site.gitalk.admin}}'],
    distractionFreeMode: {{site.gitalk.distractionFreeMode}},
    id: 'about',
    });
    gitalk.render('gitalk-container');
</script>
{% endif %}
<!-- Gitalk end -->

 <!-- disqus 评论框 start  -->
{% if site.disqus.enable %}

<div class="comment">
    <div id="disqus_thread" class="disqus-thread">
    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus.username}}";
    var disqus_identifier = "{{site.disqus.username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}

